.class-card {
    display: inline-block;
}

.edit-color {
    color: gray;
    margin-top: 5px;
}

.edit-colors {
    color: green;
    margin-top: 5px !important;
}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 12px;
}

.separator {
    font-size: 10px;
    color: gray;
    margin-left: 5%;
}

.div-class {
    display: flex;
}

.span-class {
    margin-left: -17%;
}

.span-class2 {
    margin-left: -155%;
}

.span-class3 {
    margin-left: -131%;
}

.espacamento {
    margin-top: 5%;
}

.class-card-separator {
    margin-left: 3%;
}
