<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">
    
    <!-- header -->
    <div class="navbar-header pl-2 pr-2 ml-3 text-center">
      <a class="navbar-brand m-0 w-100" href="#">
        <!-- <i class="fa fa-flash mr-1"></i> -->
        <img src="./assets/img/logo.png" alt="ailos logo" width="35px">
        <span class="ml-1">Ailos</span>
      </a>
    </div>
  
    <!-- right menu -->
    <div class="collapse navbar-collapse right-nav" id="collapseBasic" [collapse]="isCollapsed">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="btn nav-link">
            <i class="far fa-bell"></i>
            <span class="link-text">Alerts</span>
            <!-- <span class="badge badge-pill ba dge-danger">3</span> -->
            <span class="nav-alert notifications"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="btn nav-link">
            <button type="button" class="btn-lightning botaoNav">ViaCredi</button>
          </a>
        </li>
        
      </ul>
    </div>
  
  
  
  </nav>